<div *ngIf="subject">
  <div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="page-title">Subject</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#">Classroom</a></li>
        <li>Student</li>
        <li>Subject</li>
      </ol>
    </div>
    <!-- /.col-lg-12 -->
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title ">Subject</h3>
        <div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [(ngModel)]="subject.name" id="name" required>
          </div>

          <div class="form-group">
            <label for="semester">Semester</label>
            <input type="text" class="form-control" [(ngModel)]="subject.semester" id="semester" required>
          </div>

          <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" id="department" [(ngModel)]="subject.department" required>
                        <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
                      </select>
          </div>
          <button (click)="goBack()">Back</button>
          <button (click)="save()">Save</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title ">Instructors</h3>
        <ul class="demo-list-three mdl-list fluidic" *ngIf="instructors">
          <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let instructor of instructors" (click)=goToInstructorDetail(instructor)>
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">person</i>
              <span>{{ instructor.name }} </span>
            <span class="mdl-list__item-text-body">
                <span>Department: {{instructor.department}}</span><br>
            <span>Year of joining: {{instructor.year_of_joining}}</span>
            </span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
            </span>
          </li>
        </ul>
      </div>

    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title ">Attendance date</h3>
        <form #attendanceForm="ngForm" (ngSubmit)="updateAttendance(attendanceForm)">
          <ul class="demo-list-three mdl-list fluidic" *ngIf="attendance">
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                  <label for="quarter1">Quarter 1</label>
                  <input type="text" name="quarter1" id="quarter1" [(ngModel)]="attendance.quarter1"><br>
                </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                  <label for="quarter2">Quarter 2</label>
                  <input type="text" name="quarter2" id="quarter2" [(ngModel)]="attendance.quarter2"><br>
                </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                  <label for="quarter3">Quarter 3</label>
                  <input type="text" name="quarter3" id="quarter3" [(ngModel)]="attendance.quarter3"><br>
                </span>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary">Update attendance</button>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title ">Internal marks</h3>
        <form #internalsForm="ngForm" (ngSubmit)="updateInternalMarks(internalsForm)">
          <ul class="demo-list-three mdl-list fluidic" *ngIf="student_marks">
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                  <label for="internal1">Internal 1</label>
                  <input type="text" name="internal1" id="internal1" [(ngModel)]="student_marks.internal1"><br>
                </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                  <label for="internal2">Internal 2</label>
                  <input type="text" name="internal2" id="internal2" [(ngModel)]="student_marks.internal2"><br>
                </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                  <label for="internal3">Internal 3</label>
                  <input type="text" name="internal3" id="internal3" [(ngModel)]="student_marks.internal3"><br>
                </span>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary">Update marks</button>
        </form>
      </div>

    </div>
  </div>


  <div class="row" *ngIf="charts">
    <div class="col-md-6" *ngFor="let chart of charts">
      <div class="white-box">
        <h3 class="box-title">{{chart.description}}</h3>
        <x-chartist [data]="chart.data" [type]="chart.type" [options]="chart.options" [responsiveOptions]="chart.responsiveOptions"
          [events]="chart.events">
        </x-chartist>
        <h4>{{chart.analysis}}</h4>
      </div>
    </div>
  </div>
</div>