<div *ngIf="student">
  <div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="page-title">Student</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#">Classroom</a></li>
        <li>Student</li>
      </ol>
    </div>
    <!-- /.col-lg-12 -->
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title ">Student</h3>
        <div>
          <div class="form-group">
            <label for="first_name">First name</label>
            <input type="text" class="form-control" [(ngModel)]="student.first_name" id="first_name" required>
          </div>

          <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" [(ngModel)]="student.last_name" id="last_name" required>
          </div>

          <div class="form-group">
            <label for="usn">USN</label>
            <input type="text" class="form-control" [(ngModel)]="student.usn" id="usn" required>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" [(ngModel)]="student.email" id="email" required>
          </div>

          <div class="form-group">
            <label for="section">Section</label>
            <input type="text" class="form-control" [(ngModel)]="student.section" id="section" required>
          </div>

          <div class="form-group">
            <label for="semester">Semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.semester" id="semester" required>
          </div>

          <div class="form-group">
            <label for="backlogs_current">Current backlogs</label>
            <input type="text" class="form-control" [(ngModel)]="student.backlogs.current" id="backlogs_current" required>
          </div>

          <div class="form-group">
            <label for="backlogs_dead">Dead backlogs</label>
            <input type="text" class="form-control" [(ngModel)]="student.backlogs.dead" id="backlogs_dead" required>
          </div>

          <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" id="department" [(ngModel)]="student.department" required>
                      <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
                    </select>
          </div>
          <a (click)="goBack()" class="btn btn-primary">Back</a>
          <a (click)="save()" class="btn btn-primary">Save</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="white-box">
        <h3 class="box-title ">Marks</h3>
        <div>
          <div class="form-group">
            <label for="elementary">10th standard</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.elementary" id="elementary" required>
          </div>

          <div class="form-group">
            <label for="associate">12th standard</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.associate" id="associate" required>
          </div>

          <div class="form-group">
            <label for="first">1st semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.first" id="first" required>
          </div>

          <div class="form-group">
            <label for="second">2ndsemester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.second" id="second" required>
          </div>

          <div class="form-group">
            <label for="third">3rd semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.third" id="third" required>
          </div>

          <div class="form-group">
            <label for="fourth">4th semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.fourth" id="fourth" required>
          </div>

          <div class="form-group">
            <label for="fifth">5th semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.fifth" id="fifth" required>
          </div>

          <div class="form-group">
            <label for="sixth">6th semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.sixth" id="sixth" required>
          </div>

          <div class="form-group">
            <label for="seventh">7th semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.seventh" id="seventh" required>
          </div>

          <div class="form-group">
            <label for="eighth">8th semester</label>
            <input type="text" class="form-control" [(ngModel)]="student.marks.eighth" id="eighth" required>
          </div>

          <a (click)="goBack()" class="btn btn-primary">Back</a>
          <a (click)="save()" class="btn btn-primary">Save</a>
        </div>
      </div>

    </div>
  </div>


  <div *ngIf="subjects">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Enrolled Subjects</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a (click)="createSubject()" class="btn btn-primary">Add subject</a></li>
          </ol>
        </div>
      </div>
      </div>


  <div class="row">
    <div class="col-md-12">
        <div class="col-md-4" *ngFor="let subject of subjects">
            <div class="white-box">
              <div class="card">
                <img class="card-img-top" src="../assets/subject.jpg" alt="Card image cap" style="width:100%;">
                <div class="card-block">
                  <h4 class="card-title">{{subject.name}}</h4>
                  <p class="card-text">
                    <span>Semester : {{subject.semester}}</span><br>
                    <span>Department : {{subject.department}}</span><br>
                  </p>
                  <a (click)="goToSubjectDetail(subject)" class="btn btn-primary">open subject</a>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>


  <div *ngIf="complete_detail">
    <div class="row" *ngIf="charts">
      <div class="col-md-12" *ngFor="let chart of charts">
        <div class="white-box">
          <h3 class="box-title">{{chart.description}}</h3>
          <x-chartist [data]="chart.data" [type]="chart.type" [options]="chart.options" [responsiveOptions]="chart.responsiveOptions"
            [events]="chart.events">
          </x-chartist>
          <h3 class="page-title">{{chart.analysis}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>