<div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="classroom.name" placeholder="name" /><br>
    <label>section: </label>
    <input [(ngModel)]="classroom.section" placeholder="section" /><br>
    <label>semester: </label>
    <input [(ngModel)]="classroom.semester" placeholder="semester" /><br>
    <label>department: </label>
    <input [(ngModel)]="classroom.department" placeholder="department" /><br>
    <label>year of passing: </label>
    <input [(ngModel)]="classroom.year_of_passing" placeholder="year of passing" /><br>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
