<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header default-primary-color">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title default-primary-color" style="color: white;">Proctorial System</span>
    <nav class="mdl-navigation">
     <li routerLinkActive="active"> <a class="mdl-navigation__link" [routerLink]="['/home']" >home</a></li>
     <li routerLinkActive="active"> <a class="mdl-navigation__link" [routerLink]="['/classrooms']" >Classes</a></li>
     <li routerLinkActive="active"> <a class="mdl-navigation__link" [routerLink]="['/students']" >Students</a></li>
     <li routerLinkActive="active"> <a class="mdl-navigation__link" [routerLink]="['/classroom-analytics']" >Classroom analytics</a></li>
     <li routerLinkActive="active"> <a class="mdl-navigation__link" [routerLink]="['/student-analytics']" >Student analytics</a></li>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
  </main>
</div>
