<div class="row">
   <div class="col-xs-12">
    <ul class="nav nav-pills">
     <li routerLinkActive="active"> <a [routerLink]="['/home']" >home</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/classrooms']" >Classes</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/students']" >Students</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/classroom-analytics']" >Classroom analytics</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/student-analytics']" >Student analytics</a></li>
   </ul>
  </div>
 </div>
