<div *ngIf="instructor">
  <h2>{{instructor.name}} details!</h2>
    <label>name: </label>
    <input [(ngModel)]="instructor.name" placeholder="name" /><br>
    <label>id: </label>
    <input [(ngModel)]="instructor.id" placeholder="id" /><br>
    <label>department: </label>
    <input [(ngModel)]="instructor.department" placeholder="department" /><br>
    <label>year of joining: </label>
    <input [(ngModel)]="instructor.year_of_joining" placeholder="year_of_joining" /><br>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
