


  <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Student</h4> 
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
          <ol class="breadcrumb">
              <li><a href="#">Classroom</a></li>
              <li (click)="goBack()">Student</li>
              <li class="active">Add Student</li>
          </ol>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="white-box">
              <h3 class="box-title">Add Student</h3> <div>
                  <div class="form-group">
                      <label for="first_name">Name</label>
                      <input type="text" class="form-control" [(ngModel)]="student.first_name" id="first_name" required>
                    </div>
                
                    <div class="form-group">
                      <label for="last_name">Section</label>
                      <input type="text" class="form-control" [(ngModel)]="student.last_name" id="last_name" required>
                    </div>
                
                    <div class="form-group">
                        <label for="usn">USN</label>
                        <input type="text" class="form-control" [(ngModel)]="student.usn" id="usn" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="student.email" id="email" required>
                    </div>
                
                    <div class="form-group">
                      <label for="year_of_joining">Year of joining</label>
                      <select class="form-control" [(ngModel)]="student.year_of_joining" id="year_of_joining"  required>
                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                      </select>
                    </div>
            
                    <div class="form-group">
                        <label for="backlogs_current">Current backlogs</label>
                        <input type="text" class="form-control" [(ngModel)]="student.backlogs.current" id="backlogs_current" required>
                    </div>
            
                    <div class="form-group">
                        <label for="backlogs_dead">Dead backlogs</label>
                        <input type="text" class="form-control" [(ngModel)]="student.backlogs.dead" id="backlogs_dead" required>
                    </div>
            
                    <div id="marks-group">
                        <div class="form-group">
                            <label for="elementary">10th standard</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.elementary" id="elementary" required>
                        </div>
                        <div class="form-group">
                            <label for="associate">12th standard</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.associate" id="associate" required>
                        </div>
                        <div class="form-group">
                            <label for="first">1st semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.first" id="first" required>
                        </div>
                        <div class="form-group">
                            <label for="second">2nd semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.second" id="second" required>
                        </div>
                        <div class="form-group">
                            <label for="third">3st semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.third" id="third" required>
                        </div>
                        <div class="form-group">
                            <label for="fourth">4st semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.fourth" id="fourth" required>
                        </div>
                        <div class="form-group">
                            <label for="fifth">5st semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.fifth" id="fifth" required>
                        </div>
                        <div class="form-group">
                            <label for="sixth">6st semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.sixth" id="sixth" required>
                        </div>
                        <div class="form-group">
                            <label for="seventh">7st semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.seventh" id="seventh" required>
                        </div>
                        <div class="form-group">
                            <label for="eighth">8st semester</label>
                            <input type="text" class="form-control" [(ngModel)]="student.marks.eighth" id="eighth" required>
                        </div>
                    </div>
                <a (click)="goBack()" class="btn btn-primary">Back</a>
                <a (click)="save()" class="btn btn-primary">Save</a>
              </div>
          </div>
      </div>
  </div>