
<h3>Classrooms</h3>
<div style="background-color:aquamarine; margin:10px;" >
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="createClassroom()">
    Add classroom
  </button>
</div>
<div class="mdl-grid" *ngIf="classrooms">
  <div class="mdl-cell mdl-cell--4-col" *ngFor="let classroom of classrooms">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{classroom.name}}</h2>
          </div>
        <div class="mdl-card__supporting-text">
          <span>Semester : {{classroom.semester}}</span><br>
          <span>Section : {{classroom.section}}</span><br>
          <span>Department : {{classroom.department}}</span><br>
          <span>Batch : {{classroom.year_of_passing-4}}</span>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="gotoDetail(classroom)">
            open
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
        </div>
      </div>
  </div>
</div>
